


<app-navbar></app-navbar>
<body  style="padding-top: 60px;">
<section class="order-detail ">
	<div class="order-detail--wrapper col-xs-12 col-md-12 col-lg-9">
		<header class="order-detail--head row">
			<h1 class="order-detail--title col-xs-12 col-md-12 col-lg-12">Wishing List</h1>
			
			
		</header>
		<div class="order-detail--body row">
			<section  class="cart-items col-xs-12 col-md-12 col-lg-9">
			
           

				<div  class="cart-item cart-item--shopping-cart row">
					<div class="cart-item--wrapper" >
						<div class="cart-item--details" >
							<a class="cart-item--link cart-item--image-link" >
								<div class="cart-item--image">
									<img class="img-responsive"
									 alt="Main Image" height="190px" width="100px">
								</div>
							</a>
						<div class="cart-item--description">
							<a class="cart-item--link cart-item--text-link" >
								<h2 class="cart-item--title"></h2>
								<p class="cart-item--number">Item #286787402</p>
							</a>
							<div class="cart-item--detail cart-item--size">Size:</div>
							<div class="cart-item--action">
									
									
										<button class="cart-item--submit cart-item--remove"  type="submit">Remove from cart</button>
								
								</div>
						</div>	
					</div>
						<div class="cart-item--values">
							
							<div class="cart-item--price" aria-labelledby="order-detail__legend--price"><span></span></div>
						</div>
					</div>
				</div>
			
			</section>

			
		</div>
	</div>
</section>

</body>